<% layout('layout') -%>
<div class="hero-unit">
  <h1>Welcome to SimpleTwitter</h1>
  <p>SimpleTwitter is a microBlog system</p>
  <p>
    <a class="btn btn-primary btn-large" href="/login">Log-in</a>
    <a class="btn btn-large" href="/reg">Register</a>
  </p>
</div>